{% extends "app1/base.html" %}
{% block title %}
       <title>Registered  Entries </title>
{% endblock  %}

{% block content %}

    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Plate_num</th>
                <th>Status</th>
                <th>Time</th>
            </tr>
        </thead>
        {% for i in stu %}
            <tbody>
                <tr>
                    <td>{{ i.id }}</td>
                    <td>{{ i.name }}  </td>
                    <td>{{ i.plate_num }}</td>
                    <td>{{ i.status }}</td>
                    <td>{{ i.time_1 }}</td>
                </tr>
            </tbody>
        {% endfor %}
    </table>

{% endblock  %}